body{
    padding: 100px;
}
.submit_area{
    width: 780px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 4px 10px #9f9d9d;
    margin: 0 auto;
    margin-top: 100px;
    color: #6b6b6b;
}
#transition_area{
    display: none;
}
