body{
    padding: 100px;
}
.submit_area{
    width: 780px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 4px 10px #9f9d9d;
    margin: 0 auto;
    margin-top: 100px;
    color: #6b6b6b;
}
#transition_area{
    display: none;
}
.deposit{
    color: white;
    background-color: slateblue;
}
.withdraw{
    color: white;
    background-color: lightsalmon;
}
.balance{
    color: white;
    background-color: orange;
}
.status{
    margin: 20px 0px;
    padding: 50px  50px;
    border-radius: 10px;
    text-align: center;
}
.col_1,.col_2{
    margin-top: 30px;
    box-shadow: 5px 5px 10px #888888;
}

